body {
  min-height: 100%;
  position: relative;
  background-color: rgba(245, 245, 245, 0.4);
  background-image: url('./images/sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
